<div class="box box-element ui-draggable">
	<a href="#close" class="remove label label-important">
		<i class="icon-remove icon-white"></i>删除</a>
	<span class="drag label"><i class="icon-move"></i>拖动</span>
	<span class="configuration">
		<button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">编辑</button>
		<span class="btn-group"> <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">对齐 <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li class="active"><a href="#" rel="">默认</a></li>
							<li class=""><a href="#" rel="text-left">靠左</a></li>
							<li class=""><a href="#" rel="text-center">居中</a></li>
							<li class=""><a href="#" rel="text-right">靠右</a></li>
						  </ul>
						  </span> <span class="btn-group">
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">标记 <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li class="active"><a href="#" rel="">默认</a></li>
							<li class=""><a href="#" rel="muted">禁用</a></li>
							<li class=""><a href="#" rel="text-warning">警告</a></li>
							<li class=""><a href="#" rel="text-error">错误</a></li>
							<li class=""><a href="#" rel="text-info">提示</a></li>
							<li class=""><a href="#" rel="text-success">成功</a></li>
						  </ul>
						  </span> <a class="btn btn-mini" href="#" rel="lead">Lead</a> </span>
    <div class="preview">段落</div>
    <div class="view" contenteditable="true">
        <p><em>Git</em>是一个分布式的版本控制系统，最初由<b>Linus Torvalds</b>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。 </p>
    </div>
</div>