<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span> <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">编辑</button> <a class="btn btn-mini" href="#" rel="unstyled">无样式</a> <a class="btn btn-mini" href="#" rel="inline">嵌入</a> </span>
    <div class="preview">有序列表</div>
    <div class="view">
        <ol contenteditable="true">
            <li>新闻资讯</li>
            <li>体育竞技</li>
            <li>娱乐八卦</li>
            <li>前沿科技</li>
            <li>环球财经</li>
            <li>天气预报</li>
            <li>房产家居</li>
            <li>网络游戏</li>
        </ol>
    </div>
</div>