<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span> <span class="configuration"> <a class="btn btn-mini" href="#" rel="pull-right">右对齐</a> </span>
    <div class="preview">引用块</div>
    <div class="view clearfix">
        <blockquote contenteditable="true">
            <p>github是一个全球化的开源社区.</p>
            <small>关键词 <cite title="Source Title">开源</cite></small> </blockquote>
    </div>
</div>