<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span> <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">编辑</button> <a class="btn btn-mini" href="#" rel="dl-horizontal">竖向对齐</a> </span>
    <div class="preview">详细描述</div>
    <div class="view">
        <dl contenteditable="true">
            <dt>Rolex</dt>
            <dd>劳力士创始人为汉斯.威尔斯多夫，1908年他在瑞士将劳力士注册为商标。</dd>
            <dt>Vacheron Constantin</dt>
            <dd>始创于1775年的江诗丹顿已有250年历史，</dd>
            <dd>是世界上历史最悠久、延续时间最长的名表之一。</dd>
            <dt>IWC</dt>
            <dd>创立于1868年的万国表有“机械表专家”之称。</dd>
            <dt>Cartier</dt>
            <dd>卡地亚拥有150多年历史，是法国珠宝金银首饰的制造名家。</dd>
        </dl>
    </div>
</div>